<app-header></app-header>
<router-outlet></router-outlet>

<div *ngIf="(spinnerService.isLoading$ | async) == true" class="loading d-flex justify-content-center align-items-center">
  <div class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="mx-3 spinner-grow text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
